<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--SAS-->
    <add key="SASHomeUrl" value="https://www.sas.se"/>
    <add key="SASloginLinkCssPath" value=".UserPanel &gt; div.UserPanel_Wrap &gt; div.UserPanel_Item.User &gt; a:nth-child(2)"/>
    <add key="SASLoginUserNameCssSelector" value="div.loginUser &gt; input[type='text']"/>
    <add key="SASLoginUserName" value="mrjet"/>
    <add key="SASLoginUserPasswordCssSelector" value="div.loginPass &gt; input[type='Password']"/>
    <add key="SASLoginUserPassword" value="spray3232"/>
    <add key="SASLoginButtonCssSelector" value=".buttonBody "/>
    <add key="SASMyBookingsUrl" value="https://www.sas.se/misc/my-profile-container/mina-bokningar2/"/>
    <add key="SASBookingItemsCssSelector" value=".listItemBody"/>
    <add key="SASBookingNumberCssSelector" value=".pnr"/>
    <add key="SASBookingTripsCssSelector" value="strong"/>
    <add key="SASShowBookingItemLinkTextSelector" value="Visa"/>
    <add key="SASSegmentItemsCssSelector" value=".bloc"/>
    <add key="SASInboundDepartureDateCssSelector" value="span.date"/>
    <add key="SASInboundDepartureTimeCssSelector" value="td.first.time &gt; span"/>
    <add key="SASInboundDepartureCityCssSelector" value=".route"/>
    <add key="SASInboundArrivalDateCssSelector" value="span.date"/>
    <add key="SASOutboundDepartureDateCssSelector" value="span.date"/>
    <add key="SASOutboundDepartureTimeCssSelector" value="td.first.time &gt; span"/>
    <add key="SASOutboundDepartureCityCssSelector" value=".route"/>
    <add key="SASOutboundArrivalDateCssSelector" value="span.date"/>
    <add key="SASTotalPriceCssSelector" value="table > tbody > tr:nth-child(1) > td.price.first > div:nth-child(2) > p > span.data.price > span.number"/>
    <add key="SASCurrencyCssSelector" value="table > tbody > tr:nth-child(1) > td.price.first > div:nth-child(2) > p > span.data.price > span.iso"/>
    <add key="SASCreationDateCssSelector" value=".bottom p.date"/>
    <add key="SASMembershipNoCssSelector" value="div > table > tbody > tr.first > td.ffProgram > p > span.data"/>
    <add key="SASEmailTextCssSelector" value="span.info span:nth-child(2)"/>
    <add key="SASCreditCardCssSelector" value="div > table > tbody > tr:nth-child(1) > td.info > div > p:nth-child(1) > span.data"/>
    <add key="SASCardHolder" value=""/>
    <add key="SASRecieptCssLink" value=""/>
    <add key="SASVAT" value="tbody > tr:nth-child(1) > td.price.first > div:nth-child(3) > p > span.data.price > span.number"/>


    <!--HOTELS-->
    <add key="HOTELSHomeUrl" value="https://ssl-sv.hotels.com/profile/signin.html"/>
    <add key="HOTELSloginLinkCssPath" value="body"/>
    <add key="HOTELSLoginUserNameCssSelector" value="#txt_email_address"/>
    <add key="HOTELSLoginUserName" value="pierre@mrbill.se"/>
    <add key="HOTELSLoginUserPasswordCssSelector" value="#txt_password"/>
    <add key="HOTELSLoginUserPassword" value="Rapide10"/>
    <add key="HOTELSLoginButtonCssSelector" value="#btn_signin_submit"/>
    <add key="HOTELSMyBookingsUrl" value="https://ssl-sv.hotels.com/account/manage_bookings.html"/>
    <add key="HOTELSEndedBookingCssSelector" value="li.completed &gt; span &gt; a"/>
    <add key="HOTELSBookingItemsCssSelector" value="#bookings-completed .booking-item"/>
    <add key="HOTELSBookingNumberCssSelector" value="dl &gt; div.last &gt; dd"/>
    <add key="HOTELSBookingTripsCssSelector" value="dl &gt; div:nth-child(1) &gt; dd"/>
    <add key="HOTELSShowBookingItemLinkTextSelector" value="Visa bokning"/>
    <add key="HOTELSSegmentItemsCssSelector" value="div.view_reservations_module.reservations-module"/>
    <add key="HOTELSInboundDepartureDateCssSelector" value="#departureDate"/>
    <add key="HOTELSInboundDepartureTimeCssSelector" value=""/>
    <add key="HOTELSInboundDepartureCityCssSelector" value="#hotel_address"/>
    <add key="HOTELSInboundArrivalDateCssSelector" value="#arrivalDate"/>
    <add key="HOTELSOutboundDepartureDateCssSelector" value="#departureDate"/>
    <add key="HOTELSOutboundDepartureTimeCssSelector" value=""/>
    <add key="HOTELSOutboundDepartureCityCssSelector" value=""/>
    <add key="HOTELSOutboundArrivalDateCssSelector" value="#arrivalDate"/>
    <add key="HOTELSTotalPriceCssSelector" value="#total_price"/>
    <add key="HOTELSCurrencyCssSelector" value=".price"/>
    <add key="HOTELSCreationDateCssSelector" value=""/>
    <add key="HOTELSMembershipNoCssSelector" value=".membership-number"/>
    <add key="HOTELSEmailTextCssSelector" value=""/>
    <add key="HOTELSCreditCardCssSelector" value="#credit_card_type"/>
    <add key="HOTELSCreditCardNumberCssSelector" value=".reservations-module > div.payment_info > table > tbody > tr:nth-child(3) > td.data"/>
    <add key="HOTELSName" value="#hotel_name > a"/>
    <add key="HOTELSCardHolderFirstNameCssSelector" value="#billing_first_name"/>
    <add key="HOTELSCardHolderLastNameCssSelector" value="#billing_last_name"/>
    <add key="HOTELSTravellersCssSelector" value="#adultNumber"/>
    <add key="HOTELSRecieptCssLink" value=""/>
    <add key="HOTELSVAT" value=""/>


    <!--EASYPARK-->
    <add key="EASYPARKHomeUrl" value="https://easypark.se/"/>
    <add key="EASYPARKloginLinkCssPath" value=".buttonCustomLogin"/>
    <add key="EASYPARKLoginUserNameCssSelector" value="#j_username"/>
    <add key="EASYPARKLoginUserName" value="703742422"/>
    <add key="EASYPARKLoginUserPasswordCssSelector" value="#j_password"/>
    <add key="EASYPARKLoginUserPassword" value="Rapide10"/>
    <add key="EASYPARKLoginButtonCssSelector" value=".button.large.customLogin.loginEpicWebLogin.pink"/>
    <add key="EASYPARKMyBookingsUrl" value="https://epic.easyparksystem.net/epic-ss/history"/>
    <add key="EASYPARKBookingItemsCssSelector" value="[class^='tblRowrow']"/>
    <add key="EASYPARKBookingNumberCssSelector" value="td:nth-child(3)"/>
    <add key="EASYPARKBookingTripsCssSelector" value=""/>
    <add key="EASYPARKShowBookingItemLinkTextSelector" value=""/>
    <add key="EASYPARKSegmentItemsCssSelector" value=""/>
    <add key="EASYPARKInboundDepartureDateCssSelector" value="td:nth-child(5)"/>
    <add key="EASYPARKInboundDepartureTimeCssSelector" value=""/>
    <add key="EASYPARKInboundDepartureCityCssSelector" value="td:nth-child(2)"/>
    <add key="EASYPARKInboundArrivalDateCssSelector" value=""/>
    <add key="EASYPARKOutboundDepartureDateCssSelector" value=""/>
    <add key="EASYPARKOutboundDepartureTimeCssSelector" value=""/>
    <add key="EASYPARKOutboundDepartureCityCssSelector" value=""/>
    <add key="EASYPARKOutboundArrivalDateCssSelector" value="td:nth-child(6)"/>
    <add key="EASYPARKTotalPriceCssSelector" value="td.text-right"/>
    <add key="EASYPARKCurrencyCssSelector" value=""/>
    <add key="EASYPARKCreationDateCssSelector" value="td:nth-child(5)"/>
    <add key="EASYPARKMembershipNoCssSelector" value=""/>
    <add key="EASYPARKEmailTextCssSelector" value=""/>
    <add key="EASYPARKCreditCardCssSelector" value=""/>
    <add key="EASYPARKRecieptCssLink" value="td:nth-child(9)"/>
    <add key="EASYPARKCardHolder" value=""/>
    <add key="EASYPARKVAT" value=""/>
	<add key="EASYPARKRegNumber" value="td:nth-child(4)"/>


	  <!--CABONLINE-->
    <add key="CABONLINEHomeUrl" value="https://boka.cabonline.se/Login"/>
    <add key="CABONLINEloginLinkCssPath" value="#email"/>
    <add key="CABONLINELoginUserNameCssSelector" value="#email"/>
    <add key="CABONLINELoginUserName" value="pierre@mrbill.se"/>
    <add key="CABONLINELoginUserPasswordCssSelector" value="#Password"/>
    <add key="CABONLINELoginUserPassword" value="Rapide10"/>
    <add key="CABONLINELoginButtonCssSelector" value="article > div > div > section > form > p > input"/>
    <add key="CABONLINEMyBookingsUrl" value="https://boka.cabonline.se/bokningar"/>
    <add key="CABONLINEBookingItemsCssSelector" value=".booking"/>
    <add key="CABONLINEBookingNumberCssSelector" value="div.bookingnumber > div.value > span"/>
    <add key="CABONLINEBookingTripsCssSelector" value="div.to > span"/>
    <add key="CABONLINEShowBookingItemLinkTextSelector" value=""/>
    <add key="CABONLINESegmentItemsCssSelector" value=""/>
    <add key="CABONLINEInboundDepartureDateCssSelector" value="div.date > span"/>
    <add key="CABONLINEInboundDepartureTimeCssSelector" value=""/>
    <add key="CABONLINEInboundDepartureCityCssSelector" value="div.from > span"/>
    <add key="CABONLINEInboundArrivalDateCssSelector" value=""/>
    <add key="CABONLINEOutboundDepartureDateCssSelector" value=""/>
    <add key="CABONLINEOutboundDepartureTimeCssSelector" value=""/>
    <add key="CABONLINEOutboundDepartureCityCssSelector" value="div.to > span"/>
    <add key="CABONLINEOutboundArrivalDateCssSelector" value=""/>
    <add key="CABONLINETotalPriceCssSelector" value="div.price > div.value > span"/>
    <add key="CABONLINECurrencyCssSelector" value=""/>
    <add key="CABONLINECreationDateCssSelector" value=""/>
    <add key="CABONLINEMembershipNoCssSelector" value=""/>
    <add key="CABONLINEEmailTextCssSelector" value="div.statusmessage.space-below > div.value > span"/>
    <add key="CABONLINECreditCardCssSelector" value=" div.paymenttype.space-below > div.value > span"/>
    <add key="CABONLINECardHolder" value="div.name > div.value > span"/>
    <add key="CABONLINEInfoCssSelector" value="div.details > div.col1 > div.statusmessage.space-below > div.value > span"/>
    <add key="CABONLINERecieptCssLink" value=""/>
    <add key="CABONLINEVAT" value=""/>

    <!--NORWEIGAN-->
    <add key="NORWEIGANHomeUrl" value="https://www.norwegian.com/ssl/se/kundeservice/mitt-norwegian/logga-in/"/>
    <add key="NORWEIGANloginLinkCssPath" value="body"/>
    <add key="NORWEIGANLoginUserNameCssSelector" value="div.bodybox > div > div > div:nth-child(1) > input"/>
    <add key="NORWEIGANLoginUserName" value="Helen-forsberg@hotmail.com"/>
    <add key="NORWEIGANLoginUserPasswordCssSelector" value="div.bodybox > div > div > div:nth-child(2) > input"/>
    <add key="NORWEIGANLoginUserPassword" value="mrbill123"/>
    <add key="NORWEIGANLoginButtonCssSelector" value="div.bodybox > div > div > div.buttonbox > a"/>
    <add key="NORWEIGANMyBookingsUrl" value="https://www.norwegian.com/ssl/se/kundeservice/mitt-norwegian/mina-reservationer/"/>
    <add key="NORWEIGANBookingItemsCssSelector" value=".ReservationListBox tbody tr"/>
    <add key="NORWEIGANBookingNumberCssSelector" value=".reservationdetailsemphasizetext"/>
    <add key="NORWEIGANInboundDepartureDateCssSelector" value="#ctl00_ctl00_MainContentRegion_MainContentRegion_ctl03_pnlSectionContainer > table > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(1)"/>
    <add key="NORWEIGANInboundDepartureCityCssSelector" value="#ctl00_ctl00_MainContentRegion_MainContentRegion_ctl03_pnlSectionContainer > table > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(3)"/>
    <add key="NORWEIGANInboundArrivalDateCssSelector" value=""/>
    <add key="NORWEIGANOutboundDepartureDateCssSelector" value="#ctl00_ctl00_MainContentRegion_MainContentRegion_ctl03_pnlSectionContainer > table > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(1) > td:nth-child(1)"/>
    <add key="NORWEIGANOutboundDepartureCityCssSelector" value="#ctl00_ctl00_MainContentRegion_MainContentRegion_ctl03_pnlSectionContainer > table > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(3)"/>
    <add key="NORWEIGANTotalPriceCssSelector" value="#ctl00_ctl00_MainContentRegion_MainContentRegion_ctl03_pnlSectionContainer > div.sectionboxresdetails > div.bodybox > table:nth-child(3) > tbody:nth-child(4) > tr:nth-child(2) > td:nth-child(2)"/>
    <add key="NORWEIGANCreationDateCssSelector" value=""/>
    <add key="NORWEIGANMembershipNoCssSelector" value=""/>
    <add key="NORWEIGANEmailTextCssSelector" value=""/>
    <add key="NORWEIGANCreditCardCssSelector" value=""/>
    <add key="NORWEIGANCardHolder" value=""/>
    <add key="NORWEIGANInfoCssSelector" value=""/>
    <add key="NORWEIGANRecieptCssLink" value="#ctl00_ctl00_MainContentRegion_MainContentRegion_ctl03_pnlSectionContainer > div.sectionboxresdetails > div.bodybox > table.layouttable > tbody > tr > td > div > div.reservationToolBar > table > tbody > tr:nth-child(2) > td:nth-child(3) > div > a"/>
    <add key="NORWEIGANTravellersCssSelector" value="div.sectionboxresdetails > div.bodybox > table:nth-child(3) > tbody:nth-child(2) > tr:nth-child(3) .reservationBodyCell:nth-child(1)"/>
    <add key="NORWEIGANVAT" value=""/>
   
<add key="UPLOADFILEFOLDER" value="C:\inetpub\wwwroot\uploads\reciept\"/>
  </appSettings> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransactionServiceHttpBinding" />
                <binding name="UserServiceHttpBinding" />
                <binding name="MrBillServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://83.140.154.10:8080/profile_mrb/services/TransactionService"
                binding="basicHttpBinding" bindingConfiguration="TransactionServiceHttpBinding"
                contract="TransactionService.TransactionServicePortType" name="TransactionServiceHttpPort" />
            <endpoint address="http://83.140.154.10:8080/profile_mrb/services/UserService"
                binding="basicHttpBinding" bindingConfiguration="UserServiceHttpBinding"
                contract="UserService.UserServicePortType" name="UserServiceHttpPort" />
            <endpoint address="http://83.140.154.10:8080/profile_mrb/services/MrBillService"
                binding="basicHttpBinding" bindingConfiguration="MrBillServiceHttpBinding"
                contract="MrBillService.MrBillServicePortType" name="MrBillServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>