<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li class="active-link">
                <a href="~/Manager/AdminManage"><i class="fa fa-desktop "></i>Dashboard</a>
            </li>
            <li class="active-link">
                <a href="~/Manager/AllUserManage"><i class="fa fa-users "></i>See all Users</a>
            </li>
            <li class="active-link">
                <a href="~/Manager/RegisterAdmin"><i class="fa fa-user "></i>Register User</a>
            </li>
            <li class="active-link">
                <a href="~/Manager/AllUserSupplierManage"><i class="fa fa-circle-o-notch"></i>Manage user supplier</a>
            </li>
            <li class="active-link">
                <a href="~/Manager/AllUserSupplierManage"><i class="fa fa-key"></i>Disable/Enable</a>
            </li>
        </ul>
    </div>

</nav>