<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="~/Content/img/mrbill.png" />
            </a>
                       

        </div>
        @using (Html.BeginForm("LogOff", "Account", new { area = "" },
                FormMethod.Post, new { id = "logoutForm" }))
        {
            <span class="logout-spn">Hi @Session["userName"],               
                <a href="javascript: document.getElementById('logoutForm').submit()" style="color:#fff;">LOGOUT</a>
            </span>
        }
    </div>
</div>