@model MrBill_MVC.Models.LocalPasswordModel

<p>
    Lägg till ett lösenord ifall du vil kunna logga in utan en extern tjänst
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <div class="login-form">
        <div class="form-group">

            <div class="form-group">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder="Lösenord" })
                <label for="Password" class="login-field-icon fui-lock"></label>
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Bekräfta lösenord" })
                <label for="ConfirmPassword" class="login-field-icon fui-lock"></label>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Lägg till lösenord" />

        </div>
    </div>
}
 