
@{
    ViewBag.Title = "Användarvillkor";
}

<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a class="navbar-brand" href="/">
                    <img src="~/Content/img/mrbill.png" alt="" />
                </a>
            </li>
            <li>@Html.ActionLink("HEM", "Index", "Home", null, new { @class = "ltc-4" })</li>
            <li>
                @Html.ActionLink("OM OSS", "About", "Home", null, new { @class = "ltc-4" })
            </li>
            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </div>
</nav>
<div class="container bloc-xl">
    <div class="row">
        <br />
        <br />
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <b>
                            <span style="background: #ffffff">
                                1
                                Allmänt
                            </span>
                        </b>

                    </font>
                </font>
            </font>
        </p>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <span style="background: #ffffff">
                            De
                            sammanfattande punkterna är inte en del av villkoren.
                        </span>

                    </font>
                </font>
            </font>
        </p>
        <ul>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        MrBill
                                        är en tjänst för den moderna affärsresenären
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        När
                                        du skapar ett konto hos MrBill AB så ingår du också ett avtal med
                                        oss.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    1.1
                                    Dessa allmänna villkor (”Villkoren”) gäller då MrBill AB org.
                                    nr XXXXXX-XXXX, Nygrän 10, 111 30 Stockholm, e-mail:
                                    info@mrbill.se, (”MrBill”) tillhandahåller privatekonomiska
                                    tjänster via webb eller app (”Tjänsten”).
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    1.2
                                    För att använda Tjänsten måste du vara minst 18 år och/eller i
                                    övrigt behörig att ingå avtal samt acceptera att vara bunden av
                                    Villkoren.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    1.3
                                    Genom att skapa ett konto och använda Tjänsten godkänner och
                                    accepterar du Villkoren.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
        </ul>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <b>
                            <span style="background: #ffffff">
                                2
                                Tjänsten
                            </span>
                        </b>

                    </font>
                </font>
            </font>
        </p>
        <ul>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        När
                                        du använder MrBill tillåter du oss att hämta data åt dig från
                                        t.ex. det flygbolag eller taxibolag där du bokat tjänster.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        Att
                                        använda Tink är gratis och skulle vi någonsin erbjuda någonting
                                        som kostar pengar väljer du själv om du vill godkänna det eller
                                        inte.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        I
                                        framtiden kan du komma att få erbjudanden av oss och våra
                                        partners. Vill du inte det så stänger du bara av dem så lovar vi
                                        att respektera det.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        I
                                        framtiden kan MrBill lansera nya tjänster med andra villkor och du
                                        väljer själv om du vill aktivera dem.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    2.1
                                    Vid användning av Tjänsten har du möjlighet att ge MrBill
                                    tillgång till dina inloggningsuppgifter hos tredje part såsom
                                    flygbolag och andra tjänsteleverantörer (”Externa
                                    inloggningsuppgifter”). MrBill kan även komma att inhämta
                                    uppgifter från offentliga register. Genom att skapa ett
                                    MrBill-konto godkänner och uppdrar du åt MrBill att för din
                                    räkning använda dina Externa inloggningsuppgifter för att ladda
                                    ner information från dessa externa användarkonton till ditt
                                    MrBill-konto samt att dessa tredje parter lämnar ut information
                                    till MrBill (”Informationen”) för användning i Tjänsten i
                                    enlighet med dessa Villkor. Informationen kan även omfatta
                                    personuppgifter, vilka behandlas i enlighet med MrBills
                                    integritetspolicy (länk).
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    2.2
                                    Du ansvarar för att du har rätt att använda Externa
                                    inloggningsuppgifter och Informationen i Tjänsten. Du ansvarar även
                                    för all användning av Tjänsten och för att dina
                                    inloggningsuppgifter skyddas mot obehörig åtkomst.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    2.3
                                    MrBill kan även komma att erbjuda användaren nya tjänster i
                                    Tjänsten. Sådana nya tjänster kan vara förenade med särskilda
                                    villkor. Om användaren önskar aktivera den nya tjänsten måste
                                    användaren godkänna de särskilda villkor som gäller för den
                                    tjänsten.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    2.5
                                    MrBill och dess samarbetspartners och annonsörer i annonsnätverk
                                    kan komma att rikta erbjudanden till användare via Tjänsten,
                                    e-post eller på annat sätt. Marknadsföring som riktar sig direkt
                                    till användare ska uppfylla gällande lagar, uppförandekoder och
                                    etiska riktlinjer. Genom att skapa ett konto hos MrBill samtycker du
                                    till att MrBill och dess samarbetspartners och annonsörer i
                                    annonsnätverk riktar erbjudanden till dig. Om du inte längre
                                    önskar få riktade erbjudanden kan du skriftligen anmäla detta
                                    till MrBill. Tjänsten kan även innehålla länkar till eller
                                    erbjudanden från externa partners som har andra villkor än MrBill.
                                    Användaren uppmanas att själv sätta sig in i dessa villkor.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
        </ul>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <b>
                            <span style="background: #ffffff">
                                3
                                Tillåten användning
                            </span>
                        </b>

                    </font>
                </font>
            </font>
        </p>
        <ul>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        MrBill
                                        är till för dig och du får gärna spara och kopiera data från
                                        oss men inte missbruka tjänsten.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        Länka
                                        bara in tjänster i MrBill som är dina egna eller som du har rätt
                                        att logga in på.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    3.1
                                    Det är inte tillåtet att kopiera, modifiera, distribuera eller
                                    publicera innehåll som tillhandahålls av MrBill. För eget
                                    personligt bruk är det dock tillåtet att ladda ner, kopiera och
                                    spara information från MrBill. Det är inte heller tillåtet att
                                    otillbörligt nyttja erbjudanden eller på annat sätt missbruka
                                    Tjänsten.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    3.2
                                    Du ansvarar för och garanterar härmed att:
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    (i)
                                    Informationen som du laddar upp eller lägger in i Tjänsten inte
                                    gör intrång i någon annans rättigheter eller annars står i
                                    strid med lag eller annans rätt.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    (ii)
                                    Du har rätt att förfoga över Externa inloggningsuppgifter och
                                    Informationen samt har inhämtat erforderliga samtycken i den
                                    omfattning som krävs för att använda Tjänsten och för att
                                    MrBill ska ha rätt att tillhandahålla dig Tjänsten.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
        </ul>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <b>
                            <span style="background: #ffffff">
                                4
                                Avtalsbrott och ansvar
                            </span>
                        </b>

                    </font>
                </font>
            </font>
        </p>
        <ul>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        Om
                                        du bryter mot villkoren eller orsaker oss skada så har vi rätt att
                                        avsluta ditt konto.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        Vi
                                        ska göra vårt yttersta för att all info i tjänsten ska vara
                                        korrekt men kan inte lova att det aldrig blir fel.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    4.1
                                    MrBill har rätt att när som helst stänga av en användare och
                                    avsluta ett konto om användaren bryter mot Villkoren eller annars
                                    använder Tjänsten på ett sätt som kan orsaka MrBill eller tredje
                                    man skada.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    4.2
                                    MrBill har för avsikt att all information i Tjänsten ska vara
                                    korrekt och så uppdaterad som möjligt, MrBill kan dock inte
                                    garantera tillgängligheten till Tjänsten eller tillförlitligheten
                                    eller korrektheten på informationen som finns presenterad i
                                    Tjänsten. MrBill kan inte ställas till svars för om Tjänsten
                                    ligger nere eller om någon information eller funktionalitet inte
                                    fungerar som förväntat.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    4.3
                                    MrBill ska inte ha något ansvar för eventuella ekonomiska eller
                                    andra beslut du tar baserat på användning av Tjänsten eller för
                                    tjänster eller varor du väljer att köpa från fristående tredje
                                    man eller MrBill samarbetspartners.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
        </ul>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <b>
                            <span style="background: #ffffff">
                                5
                                Force Majeure
                            </span>
                        </b>

                    </font>
                </font>
            </font>
        </p>
        <ul>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        Varken
                                        vi eller du är ansvarig för saker vi inte kan påverka.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    Part
                                    är inte ansvarig för dröjsmål eller förlust som beror på
                                    omständighet som part inte råder över och som väsentligt
                                    försvårar uppfyllelsen av förpliktelsen ifråga eller som medför
                                    att uppfyllandet av förpliktelsen inte är ekonomiskt försvarbar.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
        </ul>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <b>
                            <span style="background: #ffffff">
                                6
                                Ändring av villkor
                            </span>
                        </b>

                    </font>
                </font>
            </font>
        </p>
        <ul>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        Vi
                                        får ändra i villkoren men måste berätta det för dig i god tid
                                        innan.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    MrBill
                                    har rätt att när som helst ändra Tjänsten, ändra Villkoren
                                    eller att sluta tillhandahålla Tjänsten. MrBill skall med rimligt
                                    varsel underrätta användaren vid ändring av Villkoren. Om du inte
                                    godtar de ändrade villkoren har du rätt att säga upp avtalet med
                                    MrBill innan de ändrade Villkoren träder ikraft.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
        </ul>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <b>
                            <span style="background: #ffffff">
                                7
                                Avsluta konto
                            </span>
                        </b>

                    </font>
                </font>
            </font>
        </p>
        <ul>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        Du
                                        kan avsluta ditt konto när som helst och då raderar vi all
                                        personlig information.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    Du
                                    kan närsomhelst avsluta ditt konto och din användning av Tjänsten
                                    genom att välja ”Ta bort konto” eller motsvarande funktion i
                                    Tjänsten eller genom att kontakta MrBill på annat sätt. MrBill
                                    kommer då att radera samtliga Externa Inloggningsuppgifter och all
                                    annan information som kan hänföras till dig.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
        </ul>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <font color="#000000">
                <font face="Arial, serif">
                    <font size=2 style="font-size: 11pt">

                        <b>
                            <span style="background: #ffffff">
                                8
                                Övrigt
                            </span>
                        </b>

                    </font>
                </font>
            </font>
        </p>
        <ul>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=3>
                                <i>

                                    <span style="background: #ffffff">
                                        Skulle
                                        vi mot förmodan inte komma överens så är det svensk lag som
                                        gäller.
                                    </span>

                                </i>
                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    8.1
                                    MrBill har rätt att överlåta sina rättigheter och skyldigheter
                                    enligt dessa Villkor. Vidare har MrBill rätt att anlita
                                    underleverantörer för fullgörandet av sina skyldigheter.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
            <li>
                <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
                    <font color="#000000">
                        <font face="Arial, serif">
                            <font size=2 style="font-size: 11pt">

                                <span style="background: #ffffff">
                                    8.2
                                    Tvist med anledning av Villkoren eller din användning av Tjänsten
                                    ska avgöras enligt svensk lag och av svensk domstol.
                                </span>

                            </font>
                        </font>
                    </font>
                </p>
        </ul>
        <p align=LEFT style="margin-bottom: 0in; line-height: 0.19in">
            <br>
        </p>
        <br />
        <br />
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}