<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SAS-->

    <!--<add key="SASSupplierID" value="1" />-->
    <add key="SASHomeUrl" value="https://www.sas.se" />
    <add key="SASloginLinkCssPath" value=".UserPanel &gt; div.UserPanel_Wrap &gt; div.UserPanel_Item.User &gt; a:nth-child(2)" />
    <add key="SASLoginUserNameCssSelector" value="div.loginUser &gt; input[type='text']" />
    <add key="SASLoginUserName" value="mrjet" />
    <add key="SASLoginUserPasswordCssSelector" value="div.loginPass &gt; input[type='Password']" />
    <add key="SASLoginUserPassword" value="spray3232" />
    <add key="SASLoginButtonCssSelector" value=".buttonBody " />
    <add key="SASMyBookingsUrl" value="https://www.sas.se/misc/my-profile-container/mina-bokningar2/" />
    <add key="SASBookingItemsCssSelector" value=".listItemBody" />
    <add key="SASBookingNumberCssSelector" value=".pnr" />
    <add key="SASBookingTripsCssSelector" value="strong" />
    <add key="SASShowBookingItemLinkTextSelector" value="Visa" />
    <add key="SASSegmentItemsCssSelector" value=".bloc" />
    <add key="SASInboundDepartureDateCssSelector" value="span.date" />
    <add key="SASInboundDepartureTimeCssSelector" value="td.first.time &gt; span" />
    <add key="SASInboundDepartureCityCssSelector" value="p.route span.location" />
    <add key="SASInboundArrivalDateCssSelector" value="span.date" />
    <add key="SASOutboundDepartureDateCssSelector" value="span.date" />
    <add key="SASOutboundDepartureTimeCssSelector" value="td.first.time &gt; span" />
    <add key="SASOutboundDepartureCityCssSelector" value="p.route span.location" />
    <add key="SASOutboundArrivalDateCssSelector" value="span.date" />
    <!--<add key="SASCurrencyCssSelector" value="table &gt; tbody &gt; tr:nth-child(1) &gt; td.price.first &gt; div:nth-child(2) &gt; p &gt; span.data.price &gt; span.iso" />-->
    <add key="SASTotalPriceCssSelector" value=".cash .number" />
    <add key="SASCurrencyCssSelector" value="table &gt; tbody &gt; tr:nth-child(1) &gt; td.price.first &gt; div:nth-child(2) &gt; p &gt; span.data.price &gt; span.iso" />
    <add key="SASCreationDateCssSelector" value=".bottom p.date" />
    <add key="SASMembershipNoCssSelector" value="div &gt; table &gt; tbody &gt; tr.first &gt; td.ffProgram &gt; p &gt; span.data" />
    <add key="SASEmailTextCssSelector" value="span.info span:nth-child(2)" />
    <add key="SASCreditCardCssSelector" value="div &gt; table &gt; tbody &gt; tr:nth-child(1) &gt; td.info &gt; div &gt; p:nth-child(1) &gt; span.data" />
    <add key="SASCardHolder" value="" />
    <add key="SASRecieptCssLink" value="" />
    <add key="SASVAT" value="tbody &gt; tr:nth-child(1) &gt; td.price.first &gt; div:nth-child(3) &gt; p &gt; span.data.price &gt; span.number" />
    <add key="SASTravellersCssSelector" value=".group .passenger" />
    <!--HOTELS-->
    <!--<add key="HOTELSSupplierID" value="2" />-->
    <add key="HOTELSHomeUrl" value="https://ssl-sv.hotels.com/profile/signin.html" />
    <add key="HOTELSloginLinkCssPath" value="body" />
       <add key="HOTELSLoginUserNameCssSelector" value="#sign-in-email"/>
    <add key="HOTELSLoginUserName" value="pierre@mrbill.se"/>
    <add key="HOTELSLoginUserPasswordCssSelector" value="#sign-in-password"/>
    <add key="HOTELSLoginUserPassword" value="Rapide10" />
    <add key="HOTELSLoginButtonCssSelector" value="button[type='submit'][class='cta']" />
    <add key="HOTELSMyBookingsUrl" value="https://ssl-sv.hotels.com/account/manage_bookings.html" />
    <add key="HOTELSEndedBookingCssSelector" value="" />
    <add key="HOTELSBookingItemsCssSelector" value="div.card-wrapper" />
    <add key="HOTELSBookingNumberCssSelector" value="div.conf-number" />
    <add key="HOTELSBookingTripsCssSelector" value="div.hotel-details h4" />
    <add key="HOTELSShowBookingItemLinkTextSelector" value="a.cont" />
    <add key="HOTELSSegmentItemsCssSelector" value="div.view_reservations_module.reservations-module" />
    <add key="HOTELSInboundDepartureDateCssSelector" value="#departureDate" />
    <add key="HOTELSInboundDepartureTimeCssSelector" value="" />
    <add key="HOTELSInboundDepartureCityCssSelector" value="#hotel_address" />
    <add key="HOTELSInboundArrivalDateCssSelector" value="#arrivalDate" />
    <add key="HOTELSOutboundDepartureDateCssSelector" value="#departureDate" />
    <add key="HOTELSOutboundDepartureTimeCssSelector" value="#smoking_preference" />
    <add key="HOTELSOutboundDepartureCityCssSelector" value="#bed_preference" />
    <add key="HOTELSOutboundArrivalDateCssSelector" value="#arrivalDate" />
    <add key="HOTELSTotalPriceCssSelector" value="#total_price" />
    <add key="HOTELSCurrencyCssSelector" value=".price" />
    <add key="HOTELSCreationDateCssSelector" value="" />
    <add key="HOTELSMembershipNoCssSelector" value="#room_detail_name" />
    <add key="HOTELSEmailTextCssSelector" value="" />
    <add key="HOTELSCreditCardCssSelector" value="#credit_card_type" />
    <add key="HOTELSCreditCardNumberCssSelector" value=".reservations-module &gt; div.payment_info &gt; table &gt; tbody &gt; tr:nth-child(3) &gt; td.data" />
    <add key="HOTELSName" value="#hotel_name &gt; a" />
    <add key="HOTELSCardHolderFirstNameCssSelector" value="#billing_first_name" />
    <add key="HOTELSCardHolderLastNameCssSelector" value="#billing_last_name" />
    <add key="HOTELSTravellersCssSelector" value="#adultNumber" />
    <add key="HOTELSRecieptCssLink" value="" />
    <add key="HOTELSVAT" value="" />
    <!--EASYPARK-->
     <!--<add key="EASYPARKSupplierID" value="3" />-->
    <add key="EASYPARKHomeUrl" value="https://easypark.se/privat/fordelar-med-easypark/" />
    <add key="EASYPARKloginLinkCssPath" value=".buttonCustomLogin" />
    <add key="EASYPARKLoginUserNameCssSelector" value="#j_username" />
    <add key="EASYPARKLoginUserName" value="703742422" />
    <add key="EASYPARKLoginUserPasswordCssSelector" value="#j_password" />
    <add key="EASYPARKLoginUserPassword" value="Rapide10" />
    <add key="EASYPARKLoginButtonCssSelector" value=".button.large.customLogin.loginEpicWebLogin.pink" />
    <add key="EASYPARKMyBookingsUrl" value="https://epic.easyparksystem.net/epic-ss/history" />
    <add key="EASYPARKBookingItemsCssSelector" value="[class^='tblRowrow']" />
    <add key="EASYPARKBookingNumberCssSelector" value="td.tableActions.text-center &gt; a"/>
    <add key="EASYPARKBookingTripsCssSelector" value="" />
    <add key="EASYPARKShowBookingItemLinkTextSelector" value="" />
    <add key="EASYPARKSegmentItemsCssSelector" value="" />
    <add key="EASYPARKInboundDepartureDateCssSelector" value="td:nth-child(5)" />
    <add key="EASYPARKInboundDepartureTimeCssSelector" value="" />
    <add key="EASYPARKInboundDepartureCityCssSelector" value="td:nth-child(2)" />
    <add key="EASYPARKInboundArrivalDateCssSelector" value="" />
    <add key="EASYPARKOutboundDepartureDateCssSelector" value="td:nth-child(5)" />
    <add key="EASYPARKOutboundDepartureTimeCssSelector" value="" />
    <add key="EASYPARKOutboundDepartureCityCssSelector" value="" />
    <add key="EASYPARKOutboundArrivalDateCssSelector" value="td:nth-child(6)" />
    <add key="EASYPARKTotalPriceCssSelector" value="td.text-right" />
    <add key="EASYPARKCurrencyCssSelector" value="" />
    <add key="EASYPARKCreationDateCssSelector" value="td:nth-child(5)" />
    <add key="EASYPARKMembershipNoCssSelector" value="" />
    <add key="EASYPARKEmailTextCssSelector" value="" />
    <add key="EASYPARKCreditCardCssSelector" value="" />
    <add key="EASYPARKRecieptCssLink" value="td:nth-child(9)" />
    <add key="EASYPARKCardHolder" value="" />
    <add key="EASYPARKVAT" value="" />
    <add key="EASYPARKRegNumber" value="td:nth-child(4)" />
    <!--CABONLINE-->
    <!--<add key="CABONLINESupplierID" value="4" />-->
    <add key="CABONLINEHomeUrl" value="https://boka.cabonline.se/Login" />
    <add key="CABONLINEloginLinkCssPath" value="#email" />
    <add key="CABONLINELoginUserNameCssSelector" value="#email" />
    <add key="CABONLINELoginUserName" value="pierre@mrbill.se" />
    <add key="CABONLINELoginUserPasswordCssSelector" value="#Password" />
    <add key="CABONLINELoginUserPassword" value="Rapide10" />
    <add key="CABONLINELoginButtonCssSelector" value="article &gt; div &gt; div &gt; section &gt; form &gt; p &gt; input" />
    <add key="CABONLINEMyBookingsUrl" value="https://boka.cabonline.se/bokningar" />
    <add key="CABONLINEBookingItemsCssSelector" value=".booking" />
    <add key="CABONLINEBookingNumberCssSelector" value="div.bookingnumber &gt; div.value &gt; span" />
    <add key="CABONLINEBookingTripsCssSelector" value=".details .to .value" />
    <add key="CABONLINEShowBookingItemLinkTextSelector" value="" />
    <add key="CABONLINESegmentItemsCssSelector" value="" />
    <add key="CABONLINEInboundDepartureDateCssSelector" value="div.date &gt; span" />
    <add key="CABONLINEInboundDepartureTimeCssSelector" value="" />
    <add key="CABONLINEInboundDepartureCityCssSelector" value=".details .from .value" />
    <add key="CABONLINEInboundArrivalDateCssSelector" value="" />
    <add key="CABONLINEOutboundDepartureDateCssSelector" value=".pickup .value" />
    <add key="CABONLINEOutboundDepartureTimeCssSelector" value="" />
    <add key="CABONLINEOutboundDepartureCityCssSelector" value=".details .from .value" />
    <add key="CABONLINEOutboundArrivalDateCssSelector" value=".destinationtime .value" />
    <add key="CABONLINETotalPriceCssSelector" value=".price .value" />
    <add key="CABONLINECurrencyCssSelector" value="" />
    <add key="CABONLINECreationDateCssSelector" value="" />
    <add key="CABONLINEMembershipNoCssSelector" value="" />
    <add key="CABONLINEEmailTextCssSelector" value="div.statusmessage.space-below &gt; div.value &gt; span" />
    <add key="CABONLINECreditCardCssSelector" value=" div.paymenttype.space-below &gt; div.value &gt; span" />
    <add key="CABONLINECardHolder" value="div.name &gt; div.value &gt; span" />
    <add key="CABONLINEInfoCssSelector" value="div.details &gt; div.col1 &gt; div.statusmessage.space-below &gt; div.value &gt; span" />
    <add key="CABONLINERecieptCssLink" value="" />
    <add key="CABONLINEVAT" value="" />
    <!--NORWEIGAN-->
    <!--<add key="NORWEIGANSupplierID" value="5" />-->
    <add key="NORWEIGANNAME" value="NORWEIGAN" />
    <add key="NORWEIGANHomeUrl" value="https://www.norwegian.com/ssl/se/mina-resor/#/mytravels/lookup" />
    <add key="NORWEIGANloginLinkCssPath" value="#username" />
    <add key="NORWEIGANLoginUserNameCssSelector" value="#username" />
    <add key="NORWEIGANLoginUserName" value="jens.jonasson@falco.se" />
    <add key="NORWEIGANLoginUserPassword" value="falco123" />
    <add key="NORWEIGANMrBillUserId" value="82454" />
    <add key="NORWEIGANLoginUserPasswordCssSelector" value="#password" />
    <add key="NORWEIGANLoginButtonCssSelector" value="button[data-translate='LoginBoxButton']" />
    <!--<add key="NORWEIGANMyBookingsUrl" value="https://www.norwegian.com/ssl/us/my-travels/#/mytravels"/>-->
    <add key="NORWEIGANBookingTripsCssSelector" value=".preamble" />
    <add key="NORWEIGANShowBookingItemLinkTextSelector" value="a" />
    <add key="NORWEIGANMyBookingsUrl" value="https://www.norwegian.com/ssl/se/my-travels/#/mytravels/previous-trips" />
    <add key="NORWEIGANBookingItemsCssSelector" value=".table__section" />
    <add key="NORWEIGANBookingNumberCssSelector" value="a" />
    <add key="NORWEIGANOutboundDepartureDateCssSelector" value=".journey span.label span" />
    <add key="NORWEIGANOutboundDepartureCityCssSelector" value=".journey h4 sup" />
    <add key="NORWEIGANOutboundDepartureTimeCssSelector" value=".journey p span:nth-child(2)" />
    <add key="NORWEIGANOutboundArrivalTimeCssSelector" value=".journey__item--last p.time" />
    <add key="NORWEIGANOutboundArrivalDateCssSelector" value=".journey__item--last span.label span" />
    <add key="NORWEIGANOutboundArrivalCityCssSelector" value=".journey__item--last h4 sup" />
    <add key="NORWEIGANTotalPriceCssSelector" value="#ctl00_ctl00_MainContentRegion_MainContentRegion_ctl03_pnlSectionContainer &gt; div.sectionboxresdetails &gt; div.bodybox &gt; table:nth-child(3) &gt; tbody:nth-child(4) &gt; tr:nth-child(2) &gt; td:nth-child(2)" />
    <add key="NORWEIGANCreationDateCssSelector" value="" />
    <add key="NORWEIGANMembershipNoCssSelector" value="section.col-6--md" />
    <add key="NORWEIGANEmailTextCssSelector" value="" />
    <add key="NORWEIGANCreditCardCssSelector" value="" />
    <add key="NORWEIGANCardHolder" value="" />
    <add key="NORWEIGANInfoCssSelector" value="" />
    <add key="NORWEIGANRecieptCssLink" value="a[data-translate='ReservationTravelDocumentDownloadReceipt']" />
    <add key="NORWEIGANTravellersCssSelector" value=".passenger__title" />
    <add key="NORWEIGANVAT" value="" />
    <!--<add key="FILELOCATION" value="\\phuket.mrorange.local/InetPub/MrBill/"/>-->
    <add key="FILELOCATION" value="C:\inetpub\wwwroot" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMrBillServices" />
        <binding name="BasicHttpBinding_IMrBillTransactionServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mrbill.mrorange.nu/services/MrBillServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMrBillServices"
        contract="MrBillServices.IMrBillServices" name="BasicHttpBinding_IMrBillServices" />
      <endpoint address="http://mrbill.mrorange.nu/services/MrBillTransactionServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMrBillTransactionServices"
        contract="MrBillTransactionServices.IMrBillTransactionServices"
        name="BasicHttpBinding_IMrBillTransactionServices" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>